.span {
  display: inline-block;
}
div.loading {
  text-align: center;
}
div.loading img {
  width: 100%;
  max-width: 300px;
}
body {
  font-family: Lato, sans-serif;
  background: #f8f8f8;
  font-size: 18px;
  color: #333; }
  @media (max-width: 500px) {
    body {
      font-size: 16px; } }
a {
  color: #003399;
}
a:visited {
  color: auto !important;
}

.modal-content {
  overflow: hidden;
  border-radius: 10px; }
  .modal-header {
    background: #003399; }
    .modal-header .close {
      color: white;
      opacity: 1; }
    .modal-header .close:hover {
      opacity: 0.7; }
    .modal-title {
      color: #ffcc01;
      font-size: 24px; }
  .modal-content h3 {
    font-size: 22px;
    color: #003399; }
  .modal-footer {
    text-align: center; }
    .modal-footer .btn-primary {
      background: #003399;
      color: #ffcc01; }
      .modal-footer .btn-primary:hover {
        background: #ffcc01;
        color: #003399; }


.bullet-heading {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
}
.navbar-inverse {
  background-color: #003399;
  border: none; }
  .navbar li.logo {
    font-size: 1.3em;
    font-weight: 300; }
    .navbar li.logo a {
      color: white; }
      .navbar li.logo a:hover {
        color: #ffcc01; }
      .navbar li.logo .glyphicon {
        font-size: 0.8em;
        color: #ffcc01; }
    .navbar li.register {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      font-weight: 300;
      pointer-events: none; }
      .navbar li.register a {
        width: 240px;
        margin: auto;
        opacity: 0.7;
        pointer-events: all;
        color: white; }
        .navbar li.register a:hover {
          opacity: 1; }
    @media (max-width: 850px) {
      .navbar li.register {
        display: none; }
    }
.jumbotron {
  font-family: Lato, sans-serif;
  background: #003399;
  color: white;
  padding-bottom: 80px; }
  .jumbotron img {
    max-height: 250px;
    max-width: 60%;
    margin-bottom: -20px; }
  .jumbotron h1 {
    font-weight: 700;
  }
  .jumbotron .btn {
    border: solid 4px white !important;
    background: white !important;
    font-size: 18px; }
    .jumbotron .btn:hover {
      background: #ffcc01 !important;
      border: solid 4px #ffcc01 !important; }
      @media (max-width: 600px) {
        .jumbotron .btn b {
          /*display: block;*/
          margin-top: 0px; }
      }

.jumbotron .btn-default-reverse {
    border: solid 4px #ffcc01 !important;
    /*background: #ffcc01 !important;*/
    font-size: 18px; }
    .jumbotron .btn:hover {
      background: #ffcc01 !important;
      border: solid 4px #ffcc01 !important; }
      @media (max-width: 600px) {
        .jumbotron .btn b {
          /*display: block;*/
          margin-top: 0px; }
      }


  .jumbotron p {
    font-weight: 300; }
  .jumbotron p.slogan {
    font-size: 24px;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -60px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.tabs-container {
  width: 90%;
  margin: auto; }
  .tabs {
    display: inline-block;
    width: 67%;
    padding: 0; }
    .tabs .nav>li>a {
      font-weight: bold; }
    .tabs .tab-content {
      border: 1px solid #ddd;
      border-top: none;
      padding: 20px;
      background: white;
      margin-bottom: 20px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
      .tabs .tab-content .in-out > .in, .tabs .tab-content .in-out .out {
        display: inline-block;
        vertical-align:top;
        width: 47%;
        margin: 10px 2% 0 0; }
        @media (max-width: 850px) {
          .tabs .tab-content .in-out > .in, .tabs .tab-content .in-out .out {
          display: block;
          width: auto;
          margin: 30px 0 0 0; }
        }
        .tabs .tab-content .in-out h3 {
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 900;
          color: #003399; }
        .tabs .tab-content .in-out > div > ul {
          padding-left: 0; }
          .tabs .tab-content .in-out > div > ul > li {
            margin-bottom: 30px;
            display: block; }
            /*.tabs .tab-content .in-out > div > ul > li:before {
              /*Using a Bootstrap glyphicon as the bullet point*/
              content: "\20ac";
              font-family: 'Glyphicons Halflings';
              font-size: 0.7em;
              float: left;
              margin-top: 4px;
              margin-left: -22px;
              color: #003399; }*/

.mc-layout__modalContent, iframe {
    border-radius: 8px; }



.panel-heading {
  background: #f5f5f5;
}


.coming-soon {
  text-align: center; }
  .coming-soon h3 {
    line-height: 1.3; }
  .coming-soon h4 {
    margin: 20px 0;
    line-height: 1.4; }


.jumbotron.issues {
  margin-top: -70px;
  padding-bottom: 0; }
  .jumbotron.issues .container {
    padding: 0; }
    .jumbotron.issues h1 span {
      margin: 0 3%; }
      @media (max-width: 400px) {
        .jumbotron.issues h1 {
          font-size: 1.8em; }
          .jumbotron.issues h1 span {
            margin: 0 1%; }
      }
    .jumbotron.issues img {
      height: 1.4em;
      margin-bottom: 15px; }




.friends-container {
  width: 90%;
  margin: auto; }
  .well {
    display: inline-block;
    width: 67%;
    background: white;
    text-align: center;
    margin-bottom: 30px; }
    .well > div {
      max-width: 1000px;
      margin: auto; }
      .well h3 {
        color: #003399;
        font-weight: bold;
        font-size: 32px; }
      .well a:hover {
        opacity: 0.7; }
      .well img {
        max-width: 260px;
        max-height: 100px;
        margin: 20px; }



.explaain-container {
  position: absolute;
  top: 160px;
  display: inline-block;
  width: 27%;
  height: 100%;
  right: 5%;
  padding: 50px 0 20px 0;
}
.explaain-container.sticky {
  position: fixed;
  top: 0;
}

.explaain-box {
  border-radius: 8px;
  border: 1px solid #ddd;
  height: 100%;
}

.landing-video {
  border: 2px solid #ffcc01;
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
  width: 80vw;
  height: 46vw;
  max-width: 564px;
  max-height: 319px;
  margin-bottom: 30px;
}
.landing-video iframe {
  width: 80vw;
  height: 46vw;
  max-width: 560px;
  max-height: 315px;
}



@media (min-width: 1040px) {
  .tabs-mobile-only {
    display: none;
  }
}

@media (max-width: 1039px) {
  .tabs.tabs-desktop-only {
    display: none;
  }
}

@media (max-width: 1200px) {
  .tabs.tabs-desktop-only .nav>li>a {
    font-size: 1.4vw;
  }
}

@media (max-width: 850px) {
  .navbar li.logo a {
    text-align: center;
  }
  .explaain-container {
    display: none;
  }
  .friends-container .well {
    width: 100%;
  }
  .tabs {
    width: 100%;
  }
  .tab-content p.intro a, .tab-content p.intro a:hover, .tab-content p.intro a:visited, .tab-content p.intro a:active,
  .tab-content .in-out a, .tab-content .in-out a:hover, .tab-content .in-out a:visited, .tab-content .in-out a:active {
    color: #333 !important;
    text-decoration: none;
    pointer-events: none;
  }
}

.share-text {
  font-size: 14px;
}
@media (max-width: 350px) {
  .share-text, .share-buttons .btn, .sources-button {
    font-size: 12px;
  }
}
.share-buttons {
  margin-left: 3px;
}
.dropdown-menu {
  width: 462px;
  max-width: 75vw;
  padding: 10px;
}
@media (max-width: 550px) {
  .dropdown-menu {
    margin-left: -109px;
    max-width: 95vw;
    width: 95vw;
  }
}
.dropdown-menu .input-group {
  margin: 5px 5px 10px 5px;
}
.thumbnails-container {
  overflow: scroll;
  height: 250px;
}
ul.thumbnails.image_picker_selector li {
  max-width: 48%;
  margin: 1%;
  float: left;
}
ul.thumbnails.image_picker_selector li .thumbnail {
  cursor: pointer;
  margin: 0;
}
ul.thumbnails.image_picker_selector li .thumbnail:hover {
  background: #66aaff;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #2277dd;
}


.bullet-options i {
  /*color: #003399;*/
}


@media (max-width: 450px) {
  .mobile-hide {
    display: none;
  }
}



/* Undoing annoying things from jQuery Mobile */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
 text-shadow: none;
}
a a, html body .ui-group-theme-a a,
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
  font-weight: inherit;
}
button.ui-btn, .ui-controlgroup-controls button.ui-btn-icon-notext {
  width: auto;
  margin: inherit;;
}
.ui-btn, label.ui-btn {
    font-weight: inherit;
    border-width: inherit;
    border-style: inherit;
}
body, input, select, textarea, button, .ui-btn {
     font-family: Lato, sans-serif;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
  color: #003399;
}


.ui-grid-c>.ui-block-a, .ui-grid-c>.ui-block-b, .ui-grid-c>.ui-block-c, .ui-grid-c>.ui-block-d {
    width: 50%;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    padding: 15px 0;
    background: #e9e9e9;
}
.ui-navbar li:last-child .ui-btn {
     margin-right: 0;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #003399;
    border-color: #003399;
}
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px #003399;
    -moz-box-shadow: 0 0 12px #003399;
    box-shadow: 0 0 12px #003399;
}
