<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>

<body style="background: #003399;">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/img/eu-wtf.jpg">
    <h1>referendum<span style="color:#ffcc01">.wtf</span></h1>
    <p>Your <span style="font-weight: 400; color:#ffcc01;">neutral, no-nonsense</span> guide to the EU Referendum</p>
    <button id="open-popup" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-envelope" style="color:#003399"></span>&nbsp;&nbsp;Coming soon! <b>Click here to get notified</b></button>
  </div>
</div>

<!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"3f2bc91195869b34d0255a170","lid":"5f285f9858"}) })</script> -->


<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script>
function showMailingPopUp() {
    require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"3f2bc91195869b34d0255a170","lid":"5f285f9858"}) })
    document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
};

document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
</script>

<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-878072-A');
</script>

<script>
  $('#open-popup').on('click', function() {
    _gs('event', 'Opened popup');
  });
</script>

</body>
</html>
