<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.2.min.css" />
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/js/jquery.mobile-1.4.2.min.js"></script>
  <script src="/js/doctop.min.js"></script>
  <script src="/js/archieml.js"></script>
  <script src="/js/script.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center issues">
  <div class="container">
    <h1>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
      <div class="span" style="color:#ffcc01; font-weight: 900;">The Issues</div>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
    </h1>
  </div>
</div>



	<div data-role="tabs" id="tabs" class="tabs tabs-mobile-only">
	  <div data-role="navbar">
	    <ul>
	      <li aria-selected="true"><a class="ui-link ui-btn ui-tabs-anchor ui-btn-active" href="#me" data-ajax="false">The EU and Me</a></li>
	      <li><a href="#money" data-ajax="false">The EU and Money</a></li>
	      <li><a href="#power" data-ajax="false">The EU and Power</a></li>
	      <li><a href="#borders" data-ajax="false">The EU and Borders</a></li>
	    </ul>
	  </div>


    <div class="tab-content">
  	  <div id="me" class="ui-body-d tab-pane">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="money">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="power">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="borders">
        <div class="loading"><img src="/img/loading1.gif"></div>
      </div>
    </div>
	</div>



<div class="tabs tabs-desktop-only">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#me1" aria-controls="me1" role="tab" data-toggle="tab">The EU and Me</a></li>
    <li role="presentation"><a href="#money1" aria-controls="money1" role="tab" data-toggle="tab">The EU and Money</a></li>
    <li role="presentation"><a href="#power1" aria-controls="power1" role="tab" data-toggle="tab">The EU and Power</a></li>
    <li role="presentation"><a href="#borders1" aria-controls="borders1" role="tab" data-toggle="tab">The EU and Borders</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="me1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="money1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="power1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="borders1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
  </div>

</div>

</body>
</html>
