<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.2.min.css" />
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/js/jquery.mobile-1.4.2.min.js"></script>
  <script src="/js/doctop.min.js"></script>
  <script src="/js/archieml.js"></script>
  <script src="/js/script.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center issues">
  <div class="container">
    <h1>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
      <div class="span" style="color:#ffcc01; font-weight: 900;">The Issues</div>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
    </h1>
  </div>
</div>




<div class="tabs tabs-desktop-only">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#me1" aria-controls="me1" role="tab" data-toggle="tab" onclick="_gs('event', 'Me Tab (Desktop)')">The EU and Me</a></li>
    <li role="presentation"><a href="#money1" aria-controls="money1" role="tab" data-toggle="tab" onclick="_gs('event', 'Money Tab (Desktop)')">The EU and Money</a></li>
    <li role="presentation"><a href="#power1" aria-controls="power1" role="tab" data-toggle="tab" onclick="_gs('event', 'Power Tab (Desktop)')">The EU and Power</a></li>
    <li role="presentation"><a href="#borders1" aria-controls="borders1" role="tab" data-toggle="tab" onclick="_gs('event', 'Borders Tab (Desktop)')">The EU and Borders</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="me1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="money1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="power1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="borders1">
      <div class="loading"><img src="/img/loading1.gif"></div>
    </div>
  </div>

</div>




	<div data-role="tabs" id="tabs" class="tabs tabs-mobile-only">
	  <div data-role="navbar">
	    <ul>
	      <li aria-selected="true"><a class="ui-link ui-btn ui-tabs-anchor ui-btn-active" href="#me" data-ajax="false" onclick="_gs('event', 'Me Tab (Mobile)')">The EU and Me</a></li>
	      <li><a href="#money" data-ajax="false" onclick="_gs('event', 'Money Tab (Mobile)')">The EU and Money</a></li>
	      <li><a href="#power" data-ajax="false" onclick="_gs('event', 'Power Tab (Mobile)')">The EU and Power</a></li>
	      <li><a href="#borders" data-ajax="false" onclick="_gs('event', 'Borders Tab (Mobile)')">The EU and Borders</a></li>
	    </ul>
	  </div>


    <div class="tab-content">
  	  <div id="me" class="ui-body-d tab-pane">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="money">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="power">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="borders">
        <div class="loading"><img src="/img/loading1.gif"></div>
      </div>
    </div>
	</div>

  <div class="well">
    <h3>Share the love - say hi to our friends...</h3>
    <div>
      <a href="http://wtfisbrexit.com/" target="_blank" onclick="_gs('event', 'Outbound: WTFisBrexit')"><img src="/img/friends/wtfisbrexit.png"></a>
      <a href="http://leaveorstay.co.uk/" target="_blank" onclick="_gs('event', 'Outbound: LeaveOrStay')"><img src="/img/friends/leaveorstay.png"></a>
      <a href="http://takepart.london" target="_blank" onclick="_gs('event', 'Outbound: TakePart')"><img src="/img/friends/takepart.png"></a>
      <a href="https://electionmate.hackeurope.uk/" target="_blank" onclick="_gs('event', 'Outbound: ElectionMate')"><img src="/img/friends/electionmate.png"></a>
      <a href="https://smashthevote.uk/" target="_blank" onclick="_gs('event', 'Outbound: SmashTheVote')"><img src="/img/friends/smashthevote.png"></a>
    </div>
  </div>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-573cf6f2f42c4d24"></script>

  <script src="//my.hellobar.com/e3b6de8dcc397c2a51a92a223961f0e15a415058.js" type="text/javascript" charset="utf-8" async="async"></script>


  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');

    _gs('GSN-878072-A');
  </script>

  <script>
    setTimeout(function() {
      $('#myModal').modal()
    },2000);
  </script>

</body>
</html>
