<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.2.min.css" />
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/js/jquery.mobile-1.4.2.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center issues">
  <div class="container">
    <h1>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
      <span style="color:#ffcc01; font-weight: 900;">The Issues</span>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
    </h1>
  </div>
</div>



	<div data-role="tabs" id="tabs" class="tabs tabs-mobile-only">
	  <div data-role="navbar">
	    <ul>
	      <li aria-selected="true"><a class="ui-link ui-btn ui-tabs-anchor ui-btn-active" href="#me" data-ajax="false">The EU and Me</a></li>
	      <li><a href="#money" data-ajax="false">The EU and Money</a></li>
	      <li><a href="#power" data-ajax="false">The EU and Power</a></li>
	      <li><a href="#borders" data-ajax="false">The EU and Borders</a></li>
	    </ul>
	  </div>


    <div class="tab-content">
  	  <div id="me" class="ui-body-d tab-pane">
        EU citizens can <b>live and work</b> in any other EU country, and are affected by the EU’s rules on the <b>price and quality</b> of things like travel, healthcare, energy and phone tariffs.
        <div class="in-out">
          <div class="in">
            <h3>In</h3>
            <ul>
              <li>
                EU citizens living in Britain <b>pay more in taxes</b> than they receive in benefits. Around 1.2 million <b>Brits live abroad</b> in the EU, and having membership <b>makes travel easier</b>.
              </li>
              <li>
                Flights, healthcare, energy and phone tariffs are all likely (though not guaranteed) to <b>go up in price</b> if we leave the EU.
              </li>
              <li>
                The EU negotiates energy deals as a <b>large, allegedly stronger</b>, bloc.
              </li>
            </ul>
          </div>
          <div class="out">
            <h3>Out</h3>
            <ul>
              <li>
                The UK Government is limited in its ability to <b>reduce immigration</b> due to the rules of being in the EU.
              </li>
              <li>
                The UK is unable to <b>change legislation</b> like the ‘tampon tax’ without it going through the EU, which often takes more time.
              </li>
              <li>
                “Most of the UK's gas imports come from Norway – Britain is not dependent on Russia”
              </li>
            </ul>
          </div>
        </div>
  	  </div>
  	  <div id="money">
        The UK contributes around £8.5bn in fees to the EU each year, once you discount the money we get straight back. 51% of British exports go to the EU and 53% of our products come from the EU.
        <div class="in-out">
          <div class="in">
            <h3>In</h3>
            <ul>
              <li>
                The business group CBI says the UK's membership of the EU is worth £62-78bn a year, but Channel 4's FactCheck says this is "not based on any real evidence".
              </li>
              <li>
                The UK avoids exporter tariffs and red tape by being part of the EU, and has international negotiating power as well as access to large trade agreements between the EU and the US.
              </li>
            </ul>
          </div>
          <div class="out">
            <h3>Out</h3>
            <ul>
              <li>
                Eurosceptics say the membership fee could be used for more 'observable' benefits to the British public, and that UK politicians should be able to decide how the money is spent. They also say our contribution helps bail out heavily indebted EU members like Greece.
              </li>
              <li>
                Britain could emulate countries like Norway or Switzerland, both prosperous and with a high standard-of-living, and re-establish trade links with EU states. We would also be free of EU restrictions on trade with growing international economies like China and India.
              </li>
            </ul>
          </div>
        </div>
  	  </div>
  	  <div id="power">
        EU membership means the UK joins other European countries in signing up to a series of policies and restrictions, affecting things like fishing waters, renewable energy policies, limits on workers’ hours per week.
        <div class="in-out">
          <div class="in">
            <h3>In</h3>
            <ul>
              <li>
                Many EU laws have clear benefits for the UK, such as the billions of pounds in subsidies for British farmers, and staying in means we can help shape laws across the EU from the inside.
              </li>
              <li>
                Britain’s voice is currently represented by the large and influential EU at international summits, and membership is designed to make it easier to find joint solutions with other EU countries.
              </li>
            </ul>
          </div>
          <div class="out">
            <h3>Out</h3>
            <ul>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul>
          </div>
        </div>
  	  </div>
  	  <div id="borders">
        Total net migration to the UK is over 300,000 a year, half of which is from the EU, while the government’s target is under 100,000. EU citizens have the right to live and work in any member state.
        <div class="in-out">
          <div class="in">
            <h3>In</h3>
            <ul>
              <li>
                Immigrants, especially those from the EU, pay more in taxes than they take out and the Remain side say they’re good for the economy.
              </li>
              <li>
                Benefits for new EU migrant workers will soon be limited for the first four years
              </li>
            </ul>
          </div>
          <div class="out">
            <h3>Out</h3>
            <ul>
              <li>
                Immigration can only be controlled so much when you’re an EU member
              </li>
              <li>
                High immigration has apparently driven down wages for British workers and apparently put strain on public services
              </li>
            </ul>
          </div>
        </div>
      </div>
  	  </div>
    </div>
	</div>



<div class="tabs tabs-desktop-only">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#me" aria-controls="me" role="tab" data-toggle="tab">The EU and Me</a></li>
    <li role="presentation"><a href="#money" aria-controls="money" role="tab" data-toggle="tab">The EU and Money</a></li>
    <li role="presentation"><a href="#power" aria-controls="power" role="tab" data-toggle="tab">The EU and Power</a></li>
    <li role="presentation"><a href="#borders" aria-controls="borders" role="tab" data-toggle="tab">The EU and Borders</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="me">
      EU citizens can <b>live and work</b> in any other EU country, and are affected by the EU’s rules on the <b>price and quality</b> of things like travel, healthcare, energy and phone tariffs.
      <div class="in-out">
        <div class="in">
          <h3>In</h3>
          <ul>
            <li>
              EU citizens living in Britain <b>pay more in taxes</b> than they receive in benefits. Around 1.2 million <b>Brits live abroad</b> in the EU, and having membership <b>makes travel easier</b>.
            </li>
            <li>
              Flights, healthcare, energy and phone tariffs are all likely (though not guaranteed) to <b>go up in price</b> if we leave the EU.
            </li>
            <li>
              The EU negotiates energy deals as a <b>large, allegedly stronger</b>, bloc.
            </li>
          </ul>
        </div>
        <div class="out">
          <h3>Out</h3>
          <ul>
            <li>
              The UK Government is limited in its ability to <b>reduce immigration</b> due to the rules of being in the EU.
            </li>
            <li>
              The UK is unable to <b>change legislation</b> like the ‘tampon tax’ without it going through the EU, which often takes more time.
            </li>
            <li>
              “Most of the UK's gas imports come from Norway – Britain is not dependent on Russia”
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="money">
      The UK contributes around £8.5bn in fees to the EU each year, once you discount the money we get straight back. 51% of British exports go to the EU and 53% of our products come from the EU.
      <div class="in-out">
        <div class="in">
          <h3>In</h3>
          <ul>
            <li>
              The business group CBI says the UK's membership of the EU is worth £62-78bn a year, but Channel 4's FactCheck says this is "not based on any real evidence".
            </li>
            <li>
              The UK avoids exporter tariffs and red tape by being part of the EU, and has international negotiating power as well as access to large trade agreements between the EU and the US.
            </li>
          </ul>
        </div>
        <div class="out">
          <h3>Out</h3>
          <ul>
            <li>
              Eurosceptics say the membership fee could be used for more 'observable' benefits to the British public, and that UK politicians should be able to decide how the money is spent. They also say our contribution helps bail out heavily indebted EU members like Greece.
            </li>
            <li>
              Britain could emulate countries like Norway or Switzerland, both prosperous and with a high standard-of-living, and re-establish trade links with EU states. We would also be free of EU restrictions on trade with growing international economies like China and India.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="power">
      EU membership means the UK joins other European countries in signing up to a series of policies and restrictions, affecting things like fishing waters, renewable energy policies, limits on workers’ hours per week.
      <div class="in-out">
        <div class="in">
          <h3>In</h3>
          <ul>
            <li>
              Many EU laws have clear benefits for the UK, such as the billions of pounds in subsidies for British farmers, and staying in means we can help shape laws across the EU from the inside.
            </li>
            <li>
              Britain’s voice is currently represented by the large and influential EU at international summits, and membership is designed to make it easier to find joint solutions with other EU countries.
            </li>
          </ul>
        </div>
        <div class="out">
          <h3>Out</h3>
          <ul>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="borders">
      Total net migration to the UK is over 300,000 a year, half of which is from the EU, while the government’s target is under 100,000. EU citizens have the right to live and work in any member state.
      <div class="in-out">
        <div class="in">
          <h3>In</h3>
          <ul>
            <li>
              Immigrants, especially those from the EU, pay more in taxes than they take out and the Remain side say they’re good for the economy.
            </li>
            <li>
              Benefits for new EU migrant workers will soon be limited for the first four years
            </li>
          </ul>
        </div>
        <div class="out">
          <h3>Out</h3>
          <ul>
            <li>
              Immigration can only be controlled so much when you’re an EU member
            </li>
            <li>
              High immigration has apparently driven down wages for British workers and apparently put strain on public services
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
