<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.2.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/image-picker.css" />
  <!-- <script type="text/javascript" src="/js/jquery.mobile-1.4.2.min.js"></script> -->
  <% include ../partials/header.ejs %>
  <script src="/js/doctop.min.js"></script>
  <script src="/js/archieml.js"></script>
  <script src="/js/backupData1.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/image-picker.min.js"></script>
  <script src="/js/script.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center issues">
  <div class="container">
    <h1>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
      <div class="span" style="color:#ffcc01; font-weight: 900;">Press Release</div>
      <img src="/img/eu-wtf-small.jpg" class="issues-icon">
    </h1>
  </div>
</div>

<div class="tabs-container">
  <div class="tabs tabs-desktop-only">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li style="max-width:33.33%;" role="presentation" class="active"><a href="#site" aria-controls="site" role="tab" data-toggle="tab" onclick="_gs('event', 'Me Tab (Desktop)')">What It Is</a></li>
      <li style="max-width:33.33%;" role="presentation"><a href="#how" aria-controls="how" role="tab" data-toggle="tab" onclick="_gs('event', 'Money Tab (Desktop)')">How It Works</a></li>
      <li style="max-width:33.33%;" role="presentation"><a href="#who" aria-controls="who" role="tab" data-toggle="tab" onclick="_gs('event', 'Money Tab (Desktop)')">Who We Are</a></li>
      <!-- <li role="presentation"><a href="#power1" aria-controls="power1" role="tab" data-toggle="tab" onclick="_gs('event', 'Power Tab (Desktop)')">The EU and Power</a></li>
      <li role="presentation"><a href="#borders1" aria-controls="borders1" role="tab" data-toggle="tab" onclick="_gs('event', 'Borders Tab (Desktop)')">The EU and Borders</a></li> -->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="site">
        <p>
          <a href="#4">Referendum.wtf</a> is a not-for-profit, simple, neutral, hyperbole-sifting, no-bullshit website  - and <b>the antidote to the EU Referendum</b>.
        </p>
        <p>
          This week holds perhaps the <a href="#16">most important vote we'll ever make</a>, and the <a href="#15">issues are more confusing than ever before</a>.
        </p>
        <p>
          We realised people, <a href="#17">including us</a>, were being turned off by:
        </p>
        <ul>
          <li>
            <b>The tyranny of information</b> - there's an overwhelming amount of information being thrown at us every day, and it's impossible to keep track of it all
          </li>
          <li>
            <b>How much of it is spin, dressed as fact</b> - with so many claims being thrown about it seems impossible to know who to believe
          </li>
        </ul>
        <p>
          So we created Referendum.wtf, which takes elements of both Whip and Explaain: breaking down info into an <a href="#6">easy to understand synopsis</a> and <a href="#9">encouraging participation in politics</a>.
        </p>
        <p>
          Here's cofounder <a href="#2">Jeremy Evans</a> talking to London Live about the site and how it came about:
        </p>
        <div class="landing-video" style="max-width: 480px; max-height: 270px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZuESZpimyUw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="max-width: 480px; max-height: 270px;"></iframe>
        </div>
        <p>

        </p>
        <p>

        </p>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="how">
        <p><b>Simple - Cut the Crap</b></p>
        <p>The site offers a simple, neutral breakdown of the arguments on both sides of the debate. But we’ve gone through the arguments, on both sides, removed the claims which don’t stand up to reasonable scrutiny and placed them in a red herrings section - which debunks these arguments. </p>

        <p>The site is interactive, so to explore the details or interrogate our facts, you can just click to delve down into the issues through an explaain bar - which gives further information on issues people care about by breaking down the key elements into short soundbites and linking them together in an intutive manner.</p>

        <p><b>……..And it's full of emojis!</b> 💡 👌 💪 ✌ 👊</p>
        <p>
          <i>"We realised that the more the campaigners claim to be giving us 'the facts', the more people don't know who to trust and end up switching off entirely."</i> - Jeremy Evans
        </p>
        <p>
          <i>"If you strip out all the spin then the actual facts are really not that overwhelming. You can learn loads in a couple of minutes - you can read it while you're on the loo."</i> - Jeremy Evans
        </p>
        <p>
          <i>“It’s time to be truthful about the EU referendum, know one truly knows what will happen, its a best guess game - however, what we can do is remove the bullshit.”</i> - Jonny Bottomley
        </p>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="who">
        <p>
          <b><a href="#0">Jonny Bottomley</a></b> PPE grad and Founder of <a href="#1">Whip</a> - a web-based platform that breaks down parliamentary legislation into layman's terms and provides a way to get your opinion to your MP. Whip seek to change the way people engage with and influence parliament.
        </p>
        <p>
          <b><a href="#2">Jeremy Evans</a></b> Former journalist/web developer and Founder of <a href="#3">Explaain</a> (Forbes 30 under 30), a new type of news app that teaches you current affairs in minutes. Explaain breaks down articles into tiny cards that you navigate through in any direction, taking your own personalised journey through news issues.
        </p>
        <p>
          <b>Collaboration:</b> We have also collaborated two other not-for-profit sites (​<a href="#13">WTFisbrexit</a> and ​<a href="#14">LeaveOrStay</a>) to form <b><a href="#12">Votebusters</a></b>​ - we're pooling our resources and working together to explain both sides of the debate. The sites compliment one another as each site is aimed at covering the ​different stages of the voters journey.
        </p>
        <p>
          <b>Community:</b> We're also assisted by an incredible community of volunteers giving up their spare time to write content, build the tech and help the site grow.
        </p>
      </div>
      <!-- <div role="tabpanel" class="tab-pane fade" id="power1">
        <div class="loading"><img src="/img/loading1.gif"></div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="borders1">
        <div class="loading"><img src="/img/loading1.gif"></div>
      </div> -->
    </div>

  </div>


</div>
<div class="explaain-container">
  <div class="explaain-box">
    <div class="explaain-box-header">
      <button type="button" onclick="toggleExplaain(false)" class="btn btn-default explaain-close"><i class="fa fa-close" aria-hidden="true"></i> Close Cards</button>
      <a href="http://explaain.com/" target="_blank">
        <div class="logo">
          <img class="explaain-header-logo" src="https://explaain-landing-referendum.herokuapp.com/demo/logo.png">
        </div>
      </a>
    </div>
    <iframe id="explaain" frameborder="0" style="height: 100%; width: 100%" src="https://explaain-landing-referendum.herokuapp.com/demo/?source=pressrelease&touchscreen=<%= touchscreen %>"></iframe>
  </div>
</div>


<div class="tabs-container">
	<div data-role="tabs" id="tabs" class="tabs tabs-mobile-only">
	  <div data-role="navbar">
	    <ul>
	      <li aria-selected="true"><a class="ui-link ui-btn ui-tabs-anchor ui-btn-active" href="#me" data-ajax="false" onclick="_gs('event', 'Me Tab (Mobile)')">The EU and Me</a></li>
	      <li><a href="#money" data-ajax="false" onclick="_gs('event', 'Money Tab (Mobile)')">The EU and Money</a></li>
	      <li><a href="#power" data-ajax="false" onclick="_gs('event', 'Power Tab (Mobile)')">The EU and Power</a></li>
	      <li><a href="#borders" data-ajax="false" onclick="_gs('event', 'Borders Tab (Mobile)')">The EU and Borders</a></li>
	    </ul>
	  </div>


    <div class="tab-content">
  	  <div id="me" class="ui-body-d tab-pane">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="money">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="power">
        <div class="loading"><img src="/img/loading1.gif"></div>
  	  </div>
  	  <div id="borders">
        <div class="loading"><img src="/img/loading1.gif"></div>
      </div>
    </div>
	</div>
</div>

  <div class="friends-container">
    <div class="well">
      <h3>Share the love - say hi to our friends...</h3>
      <div>
        <a href="http://votebusters.org/" target="_blank" onclick="_gs('event', 'Outbound: Votebusters')"><img src="/img/friends/votebusters.png" style="max-height: 140px;"></a>
        <a href="http://wtfisbrexit.com/" target="_blank" onclick="_gs('event', 'Outbound: WTFisBrexit')"><img src="/img/friends/wtfisbrexit.png"></a>
        <a href="http://leaveorstay.co.uk/" target="_blank" onclick="_gs('event', 'Outbound: LeaveOrStay')"><img src="/img/friends/leaveorstay.png"></a>
        <a href="http://takepart.london" target="_blank" onclick="_gs('event', 'Outbound: TakePart')"><img src="/img/friends/takepart.png"></a>
        <a href="https://electionmate.hackeurope.uk/" target="_blank" onclick="_gs('event', 'Outbound: ElectionMate')"><img src="/img/friends/electionmate.png"></a>
        <a href="https://smashthevote.uk/" target="_blank" onclick="_gs('event', 'Outbound: SmashTheVote')"><img src="/img/friends/smashthevote.png"></a>
        <!-- <a href="https://represent.me/eu/" target="_blank" onclick="_gs('event', 'Outbound: Represent')"><img src="/img/friends/represent.png"></a> -->
      </div>
    </div>
  </div>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-573cf6f2f42c4d24"></script>

  <script src="//my.hellobar.com/e3b6de8dcc397c2a51a92a223961f0e15a415058.js" type="text/javascript" charset="utf-8" async="async"></script>


  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');

    _gs('GSN-878072-A');
  </script>

  <script>
    setTimeout(function() {
      // $('#myModal').modal()
    },2000);
  </script>

</body>
</html>
